#topContainer {
  /* Margin for top of container with id of topContainer */
  margin-top: 4rem;
}

#billTotalInput {
  /* Font size for bill total input */
  font-size: 1.2rem;
  /* Remove background color */
  background: none;
  /* Remove border */
  border: none;
  /* Remove outline */
  outline: none;
  /* Remove padding */
  padding: none;
}
